body {
    cursor: pointer;
    background-color: rgb(0, 195, 255);
    overflow-y:scroll;

}

.header {
    text-align: center;
    font-size: 80px;
}

.container {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1300px;
    width: 500px;
    margin-left: -250px;
    margin-top: -275px;  
}

.containerTop {
    border: 1px solid black;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    background-color: white;
}

.containerBottom {
    position: absolute;
    top: 15%;
    left: 50%;
}

.buttons button {  
    font-size: 30px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#baseball-input {
    margin-top: 30px;
}

#add-baseball {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
}

.gifs {
    margin: 5px;
    /* display: flex;
    flex-wrap: wrap; */
    position: absolute;
    left: 50%;
    margin-left: -75px;  
}

.imgSize {
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 50%;
       
    /*-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);    */
}

.imgSize:hover {
    transform: translateY(-10px);
    animation: all .2s;
    box-shadow: 0px 0px 35px green;
}
