body {
    cursor: pointer;
    background-color: rgb(0, 195, 255);
    overflow-y:scroll;

}

.header {
    text-align: center;
    font-size: 80px;
    font-family: 'Permanent Marker', cursive;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 500px;
    margin-left: -250px;
    margin-top: -275px;  
}

.containerTop {
    
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    
}

.containerBottom {
    position: absolute;
    top: 75%;
    left: 50%;
}

.buttons button {  
    position: relative;
    left: 3%;
    font-size: 30px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#baseball-input {
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    left: 39.5%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#add-baseball {
    position: relative;
    left: 42%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
}

.gifs {
    display: flex;
    flex-direction: row;
    margin: 45px;
    position: absolute;
    left: 50%;
    /* margin-left: -75px;   */
    margin-left: -511px; 
}

.imgSize {
    
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 50%;
}

.imgSize:hover {
    transform: translateY(-10px);
    animation: all .2s;
    box-shadow: 0px 0px 55px black;
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: -227px;
    }

    .containerTop {    
        margin-bottom: 20px;
        position: absolute;
        left: 50%;
        width: 400px;
        margin-left: -200px;        
    }

    .buttons button {  
        position: relative;
        left: 8.5%;
        font-size: 23px;        
    }

    #add-baseball {
        font-size: 20px;
        position: relative;
        left: 33.5%;
    }

    #baseball-input {        
        position: relative;
        left: 29.5%;        
    }

    .gifs {
        display: flex;
        flex-direction: column;
        margin: 45px;
        position: absolute;
        left: 50%;
        margin-left: -75px;        
    }
}
